<header>
  <h5 class="m-3">Gerenciamento de Usuários</h5>
</header>
<h5 *ngIf="typeForm === 'add'" class="m-3">Cadastro de Usuário</h5>
<section *ngIf="typeForm === 'add'">
  <form
    #userForm="ngForm"
    (ngSubmit)="onSubmit(userForm)"
    class="w-50 mx-auto mt-4 p-4"
  >
    <div class="mb-3">
      <label for="name" class="form-label">Nome</label>
      <input
        type="text"
        id="name"
        class="form-control"
        [(ngModel)]="user.name"
        name="name"
        required
      />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input
        type="email"
        id="email"
        class="form-control"
        [(ngModel)]="user.email"
        name="email"
        required
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input
        type="password"
        id="password"
        class="form-control"
        [(ngModel)]="user.password"
        name="password"
        required
      />
    </div>

    <div class="mb-3">
      <label for="role" class="form-label">Perfil</label>
      <select
        id="role"
        class="form-select"
        [(ngModel)]="user.role"
        name="role"
        required
      >
        <option value="" disabled selected>Selecione o perfil</option>
        <option value="gestor">Gestor</option>
        <option value="atendente">Atendente</option>
      </select>
    </div>

    <button type="submit" class="w-100">Cadastrar</button>
  </form>
</section>
<section
  class="overflow-y-auto"
  *ngIf="typeForm === 'edit' || typeForm === 'list'"
  [ngStyle]="{ height: typeForm === 'list' ? '75vh' : '50vh' }"
>
  <div *ngIf="typeForm === 'edit'" class="d-flex justify-content-center m-3">
    <input
      type="text"
      class="form-control w-50"
      #nomeInput
      style="border-radius: 5px 0 0 5px"
      placeholder="Nome"
      aria-label="Name"
      aria-describedby="button-addon2"
    />
    <button
      class="btn btn-outline-secondary"
      style="border-radius: 0px 5px 5px 0"
      type="button"
      id="button-addon2"
      (click)="getUserByName(nomeInput.value)"
    >
      Buscar
    </button>
  </div>
  <table
    class="table table-striped w-75 mx-auto mt-3"
    *ngIf="filteredUsers.length > 0"
  >
    <thead class="table-light" style="position: sticky; top: 0; z-index: 2">
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th *ngIf="typeForm === 'list'">Telefone</th>
        <th *ngIf="typeForm === 'edit'">Perfil</th>
        <th *ngIf="typeForm === 'edit'">Ação</th>
      </tr>
    </thead>
    <tbody *ngIf="typeForm === 'edit'">
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td *ngIf="typeForm === 'edit'" class="text-capitalize">
          {{ user.role }}
        </td>
        <td *ngIf="typeForm === 'edit'">
          <button
            class="btn btn-sm btn-outline-secondary me-2"
            (click)="editUser(user)"
          >
            <img src="assets/white-pencil.png" title="editar" alt="Editar" />
          </button>
          <button class="btn btn-sm bg-danger" (click)="remove(user)">
            <img src="assets/white-trash.png" titel="Deletar" alt="Deletar" />
          </button>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="typeForm === 'list'">
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone }}</td>
      </tr>
    </tbody>
  </table>
</section>
<section *ngIf="selectedUser && typeForm === 'edit'">
  <hr />
  <h5 class="m-3">Edição de Usuário</h5>
  <form class="mx-auto mt-4 p-4 d-flex justify-content-evenly">
    <div class="user-edit">
      <label class="form-label" for="name">Nome</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="selectedUser.name"
        name="name"
        id="name"
      />
    </div>

    <div class="user-edit">
      <label class="form-label" for="email">E-mail</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="selectedUser.email"
        name="email"
        id="email"
      />
    </div>

    <div>
      <label class="form-label" for="role">Perfil</label>
      <select
        id="role"
        class="form-select"
        [(ngModel)]="selectedUser.role"
        name="role"
        required
      >
        <option value="gestor">Gestor</option>
        <option value="atendente">Atendente</option>
      </select>
    </div>
    <div class="align-content-end">
      <button
        class="btn btn-md btn-outline-secondary"
        (click)="updateUser(selectedUser)"
      >
        Salvar
      </button>
    </div>
    <div class="align-content-end">
      <button
        class="btn bg-danger btn-outline-secondary"
        (click)="editCancel()"
      >
        Cancelar
      </button>
    </div>
  </form>
</section>
