header {
  display: flex;
  align-items: center;
  background-color: var(--background-light-color);
  height: 9vh;
  color: #28a745;
}

hr {
  border-color: #28a745;
  border-width: 2px;
}

h5 {
  color: #28a745;
}

.form-control:focus {
  box-shadow: none;
}

.user-edit {
  width: 30%;
}

button {
  transform: none;
  background-color: #28a745;
  color: #fff;
  border: none;
}

button img {
  width: 20px;
  height: 20px;
}

/* Alteração em telas menores */
@media (max-width: 768px) {
  header {
    justify-content: center;
  }
}
