aside {
  background-color: var(--background-dark-color2);
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
#history,
#menu,
#inProgress {
  margin-left: 10px;
  color: var(--font-dark-color-2);
}
.chat-list,
.history-list {
  width: auto;
  margin-bottom: 20px;
  overflow: auto;
  height: 180px;
}
.chat-item,
.history-item {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 0;
  border-bottom: 1px solid #ddd;
}
.chat-item:last-child,
.history-item:last-child {
  border-bottom: none;
}
.avatar {
  width: 40px;
  height: 40px;
  background-color: #6c757d;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 16px;
  margin-right: 10px;
}
#user.avatar {
  background-color: var(--primary-color);
  color: #fff;
}

.chat-details,
.history-details {
  flex-grow: 1;
}
.history-details {
  display: flex;
  justify-content: space-between;
}
.name {
  font-weight: bold;
}
.duration {
  font-size: 12px;
  color: #6c757d;
}
.last-message {
  font-size: 14px;
  color: #495057;
}

/* Esconder o menu em telas menores */
aside {
  position: fixed;
  left: -100%;
  top: 0;
  width: 250px;
  height: 100vh;
  background: #fff;
  transition: left 0.3s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

/* Mostrar o menu quando a classe "open" estiver ativa */
aside.open {
  left: 0;
  width: auto;
}
aside.open section#user-info {
  margin-bottom: 10px;
  justify-content: end;
}

/* Estilizar o botão do menu */
.menu-toggle {
  position: absolute;
  top: 10px;
  left: 0px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}

#user-info {
  background-color: #28a745;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
button.logout {
  padding: 10px;
  background-color: transparent;
  border: none;
}
button.logout:hover {
  transform: none;
}
button.logout img {
  width: 20px;
  height: 20px;
}

.nav button,
button.chat-item,
button.history-item {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav button img {
  width: 30px;
  height: 30px;
}
/* Esconder o botão em telas maiores */
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  aside {
    position: static;
    min-width: 20vw;
  }
  aside.open {
    width: 50vw;
  }
}

/* Alteração em telas menores */
@media (max-width: 768px) {
  .chat-list,
  .history-list {
    height: 100px;
  }
  .chat-item,
  .history-item {
    padding: 5px;
  }
  .avatar {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
  .name {
    font-size: 14px;
  }
  .duration {
    font-size: 10px;
  }
  .last-message {
    font-size: 12px;
  }
  #client-info {
    margin-left: 15px;
  }
  aside.open {
    width: 50vw;
  }
  aside.open .mix {
    width: 60%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  aside {
    width: 50vw;
  }
}
